.row .integrating p{
	font-size:1.2rem;
}
.row .integrating ul{
	display:block;
	color:black;
	font-size:1rem;
}
.row .integrating ul li{
	width:18px;
	height:18px;
	line-height: 18px;
	border-radius:50%;
	text-align: center;
	margin:1% 2%;
	float:left;
}
.row .Registration{
	text-align: center;
}
.row .Registration button{
	border:none;
	font-size: 1.4rem;
	background-color:#fff100;
	color:#000;
	padding:0 12px;
}
.form a{
	color:black;
	display: block;
	/*border-bottom:1px solid #828282;*/
}
.form a{
	margin-bottom:1.5%;
}
.row .form a li{
	padding:4.1%;
	display: flex;
}
.row .form a li .form_first{
	font-size: 1.4rem;
	text-align: left;
	flex:1;
}
.row .form a li .form_second{
	font-size: 1.4rem;
	text-align: right;
}

/*签到css*/
.oneday
{
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -6px;
	display:inline-block;
}


/*用户信息*/
.my_bg
{
	background:url(../image/lb/my/bg.png)no-repeat;
	width:100%;
	height:23.7%;
	background-size: 100%;
	background-origin: content-box;
	background-clip:content-box;
	background-position: center;
	overflow:hidden;
	position:relative;
}
/* .num_first_right_btm{
	width:20%;
	height:30%;
	position: absolute;
	bottom:0;
	right:0;
	border:1px solid #fff;
} */